# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
backend/.venv/
Backend/venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables (sensitive data)
backend/.env

# Xcode
DerivedData/
*.xcworkspace
xcuserdata/

# Mac-os
.DS_Store
